*, *::before, *::after{
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: black;
}

section{
	height: 1080px;
	width: 480px;
	border: 1px solid #ccc;
}

/*navigation css starts here*/
.topnav {
	display: flex;
    overflow: hidden;
	background-color: #7688f5;
	position: relative;
	height: 100px;
	width: 270px;
	top: 20px;
	border-radius: 15px 15px 0 0;
	margin: 0 auto;
	justify-content: center;
	align-content: center;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}

.topnav a:hover {
  background-color: #7688f5;
  color: black;
}
.active {
  background-color: #7688f5;
  color: white;
}

/*Calculator css starts here*/
.calculator-grid{
	width: 270px;
	height: 250px;
	background-color: #4d62db;
	margin: 0 auto;
	position: relative;
	border-radius: 0 0 15px 15px;
	padding: 15px;
	display: grid;
	box-shadow:  0px -4px #262e5c;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 65px);
	grid-template-rows: minmax(200px, auto) repeat(5, 65px);
}
.calculator-grid > button{
	cursor: pointer;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-width: 2px;
	font-size: 30px;
	background-color: #4d62db;
	outline: none;
}
.operators > button{
	cursor: pointer;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-width: 2px;
	font-size: 30px;
	background-color: #EEE8AA;
	outline: none;
}
.calculator-grid > button:hover{
	font-size: 20px;
}
.operators > button:hover{
	font-size: 20px;
}

.output{
	grid-column: 1 / -1;
	display: flex;
	align-items:flex-end;
	justify-content: space-around;
	flex-direction: column;
	word-wrap: break-word;
	word-break: break-all;
	padding: 10px;
}
.output .prev-operand{
	font-size: 25px;
	color: #919191;
}
.curr-operand{
	font-size: 60px;
	color: #adcadb;
}

.operator{
	border: 2px solid #EEE8AA;
	color: #4d62db;

}
.clear{
	border: 2px solid #EEE8AA;
	color: #adcadb;
}
.number{
	border: 2px solid #6c7bd4;
	color: #adcadb;
}
.empty{
	border: 2px solid #4d62db;
}

